@media screen and (max-width: 480px){
    .contact{
        width: 528px;
    }
    .contact-infos{
        margin-right: 140px;
        margin-left: 0;
        text-align: center;
    }
    .contact-img{
        display: none;
    }
    .contact-input{
        margin-left: 50px;
        grid-template-columns: 280px;
        width: 300px;
        gap: 20px 10px;
    }
    .contact-us button{
        margin-left: 0;
    }
    .contact-btn{
        margin-left: 130px;
        margin-right: 130px;
    }
    footer{
        height: 435px;
    text-align: center;}
    .footer-div{
        padding-top: 20px;
        display: block;
        margin-left: 0;
    }
    .footer-links{
        padding-left: 0;
        flex-direction: column;
    }
    .footer-links p{
        padding: 12px 6px;
    }
    .mention{
        padding-top: 20px;
        padding-left: 0;
        padding-bottom: 20px;
    }
}   