footer{
    height: 315px;
    background-color: var(--30-percent);

    .footer-div{
        padding-top: 100px;
        margin-left: 265px;
        display: flex;

        .footer-links{
            display: flex;
            padding-left: 192px;

            .footer-links-text{
                padding: 24px 12px;
                color: #FFF;
                font-family: ABeeZee;
                font-size: 13px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .mention{
        display: flex;
        justify-content: center;
        padding-left: 177px;
        color: #FFF;
        font-family: ABeeZee;
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
}